{{ block title }}
    Completion
{{ endblock }}
{{ block content }}

{{ if group.payment_choices }}  

    {{ if group.made_leadership_choice }} 
    <p>
        Your group is paid for the Game. 
        {{ if group.leader == player.id_in_group }}You{{ else }}Your partner{{ endif }}
        played for the team and
        {{ if leadership_correct }}scored a strike{{ else }}did not score score a strike{{ endif }}. 
        
        You earn {{ group.completion_payoff }} for completing this study
        {{ if leadership_correct }} and an additional {{ group.decision_payoff }} because 
        {{ if group.leader == player.id_in_group }}you{{ else }}your partner{{ endif }} scored a strike{{ endif }}. 
        In total you earned {{ player.payoff }}. 
        You can click the button "Return to Prolific" to return to Prolific. Thank you very much for participating.
    </p>
    {{ else }}
    <p>
        Your group is paid for the Game but your partner has not decided yet if he or she wants to play for the team. 
        You are guaranteed earnings of {{ group.completion_payoff }} for completing this study 
        and you may earn an additional {{ group.decision_payoff }} if the player who plays for the team scores a strike. 
        If you end up playing for the team, you will play automatically.
        If you want to learn about your final earnings before heading back to Prolific, 
        you can check if your partner has made his or her choice by clicking on the button "Reload Page" below. 
        Alternatively, you can click the button "Return to Prolific" to return to Prolific immediately. 
        Your earnings will not be affected. Thank you very much for participating.
    </p>
    {{ endif }}

{{ else }}
<p>
    Your group is paid for the Guess. 
    You earn {{ group.completion_payoff }} for completing this study 
    and an additional {{ group.beliefs_payoff }} for every prize you win. 
    In total you earned {{ player.payoff }}.
</p> 

    <div style="margin:10px">

        <table class="table">
        <tr style="border-bottom:1px solid black">
            <td></td>
            <td>You guessed</td>
            <td>Your chance of winning</td>
            <td>Outcome</td>
        </tr>
        <tr>
            <td>
                You were {{ if not player.high }}not{{ endif }} a high type.
            </td>

            <td>
                {{ bi }}%
            </td>

            <td>
                {{ prob_bi }}%
            </td>
            <td>
                {{ if player.obi }}You won {{ group.beliefs_payoff }}.
                {{ else }} You did not win.
                {{ endif }}
            </td>
        </tr>

        <tr>
            <td>
                Your partner was {{ if partner_high }}not{{ endif }} a high type.
            </td>

            <td>
                {{ bj }}%
            </td>

            <td>
                {{ prob_bj }}%
            </td>
            <td>
                {{ if player.obj }}You won {{ group.beliefs_payoff }}.
                {{ else }} You did not win.
                {{ endif }}
            </td>
        </tr>

    </table>
</div>

{{ endif }}

{{ if not group.made_leadership_choice and group.payment_choices }} <a onclick="reload_page()" class="btn btn-primary">Reload Page</a> {{ endif }}
<a onclick="return_to_prolific()" class="btn btn-primary">Return to Prolific</a>

{{ endblock }}

{{ block scripts }}
<script>
    let completion_link = js_vars.completion_link;

    function return_to_prolific(){
        window.location.href=completion_link;
    }
    function reload_page(){
        location.reload(); 
    }
</script>
{{ endblock }}