{{ block title }}
    Decision 2
{{ endblock }}
{{ block content }}

<div id="information-overview" style="margin-left:10px; margin-bottom:10px">

<table class="table">
    <tr style="border-top:1px solid black">
        <th class="text-center"></th>
        <th class="text-center">You</th>
        <th class="text-center">Your Partner</th>
    </tr>
    <tr>
        <td class="text-center">Balls</td>
        <td class="text-center">
            <svg width="91" height="40">
          <circle cx="20" cy="20" r="19" fill="lightgray" stroke="black"/>
          <text x="16" y="25">?</text>

          <circle cx="70" cy="20" r="19" fill="lightgray" stroke="black"/>
          <text x="66" y="25" fill="black">?</text>
            </svg>
        </td>
        <td class="text-center">
            <svg width="91" height="40">
          <circle cx="20" cy="20" r="19" fill="lightgray" stroke="black"/>
          <text x="16" y="25">?</text>

          <circle cx="70" cy="20" r="19" fill="lightgray" stroke="black"/>
          <text x="66" y="25" fill="black">?</text>
            </svg>

        </td>
    </tr>
    <tr>
        <td class="text-center">Card</td>
        <td class="text-center">
            <svg width="30" height="40">
                {{ if player.high_signal }}
                <rect width="30" height="40" fill="blue" stroke="black" />
               {{ else }}
               <rect width="30" height="40" fill="red" stroke="black" />
                {{ endif }}
            </svg>

        </td>
        <td class="text-center">
            <svg width="30" height="40">
           <rect width="30" height="40" fill="lightgray" stroke="black" />
           <text x="11" y="25" fill="black">?</text>
            </svg>

        </td>
    </tr>
    <tr style="border-bottom:1px solid black">
        <td class="text-center">Star</td>
        <td class="text-center">
            <svg height="40" width="40">
                {{ if player.kudos }}
                <path d="M 40 14 L 24 14 L 20 0 L 16 14 L 0 14 L 12 22 L 8 36 L 20 28 L 32 36 L 28 22 L 40 14" stroke="black" fill="yellow"/>
                {{ else }}
                <path d="M 40 14 L 24 14 L 20 0 L 16 14 L 0 14 L 12 22 L 8 36 L 20 28 L 32 36 L 28 22 L 40 14" stroke="black" fill="transparent"/>
                {{ endif }}
            </svg>

        </td>
        <td class="text-center">
            {{ if public }}
            <svg height="40" width="40">
                {{ if partner_kudos }}
                <path d="M 40 14 L 24 14 L 20 0 L 16 14 L 0 14 L 12 22 L 8 36 L 20 28 L 32 36 L 28 22 L 40 14" stroke="black" fill="yellow"/>
                {{ else }}
                <path d="M 40 14 L 24 14 L 20 0 L 16 14 L 0 14 L 12 22 L 8 36 L 20 28 L 32 36 L 28 22 L 40 14" stroke="black" fill="transparent"/>
                {{ endif }}
            </svg>

            {{ else }}
            <svg height="40" width="40">
                <path d="M 40 14 L 24 14 L 20 0 L 16 14 L 0 14 L 12 22 L 8 36 L 20 28 L 32 36 L 28 22 L 40 14" stroke="black" fill="lightgray"/>
                <text x=16 y=25>?</text>
            </svg>
            {{ endif }}

        </td>
    </tr>
</table>
</div>

<div style="margin-right:10px; margin-top:10px">

    {{ if player.id_in_group == 2 and not partner_makes_choice }}
    <p>Your partner decided to choose the same door as you.</p>
    {{ endif }}

<p>You have {{ Constants.number_of_choices }} doors to choose from.
    You will receive {{ Constants.choice_payoff }} if you choose a winning door.
    {{ if player.id_in_group == 2 and not partner_makes_choice }}
    Your partner will also receive {{ Constants.choice_payoff }} if you choose a winning door.
    {{ endif }}
</p>

<p>
    The number of winning doors among your doors depends on the ball that we drew for you in the beginning of the experiment.
</p>

    <ul>
        <li>If the ball drawn from Urn 1 is blue, {{ Constants.number_of_correct_choices_high }} of the doors are winning doors.</li>
        <li>If the ball drawn from Urn 1 is red, {{ Constants.number_of_correct_choices_low }} of the doors are winning doors.</li>
    </ul>
</div>
    {{ formfields }}

    {{ next_button }}

{{ endblock }}


{{ block styles }}
<style>
    #information-overview {
    width: 300px;
    float: right;
}
</style>
{{ endblock }}
