{{ block title }}
    Feedback
{{ endblock }}
{{ block content }}

<div>

{{ if player.payment_choices }}

<p>You are paid for your door choices.</p>
<p>In the first decision you chose a {{ if player.correct }}winning{{ else }}losing{{ endif }} door.
    In the second decision you {{ if player.makes_leadership_choice }}chose from your own doors{{ else }}chose the same door as your partner{{ endif }} and
    {{ if player.makes_leadership_choice }}you{{ else }}your partner{{ endif }} chose a
    {{ if player.leadership_correct }}winning{{ else }}losing{{ endif }} door.</p>
<p>For every winning door you receive {{ Constants.choice_payoff }} and earn {{ player.payoff }}.</p>

{{ else }}

<p>You are paid for your guesses.</p>
<p>You stated a belief of {{ beliefs_high_ability }} that the ball drawn for you from Urn 1 is blue.
    We drew {{ if player.high_ability }}a blue ball{{ else }}a red ball{{ endif }} for you.
    Your chance of receiving the prize was {{ chance_high_ability }}.
    You {{ if player.outcome_beliefs_high_ability }}received{{ else }}did not receive{{ endif }} the prize.
</p>

<p>You stated a belief of {{ beliefs_privileged }} that the ball drawn for you from Urn 2 is white.
    We drew {{ if player.privileged }}a white ball{{ else }}a black ball{{ endif }}.
    Your chance of receiving the prize was {{ chance_privileged }}.
    You {{ if player.outcome_beliefs_privileged }}received{{ else }}did not receive{{ endif }} the prize.
</p>

<p>You stated a belief of {{ beliefs_partner_high_ability }} that the ball drawn for your partner from Urn 1 is blue.
    We drew {{ if partner_high_ability }}a white ball{{ else }}a black ball{{ endif }}.
    Your chance of receiving the prize was {{ chance_partner_high_ability }}.
    You {{ if player.outcome_beliefs_partner_high_ability }}received{{ else }}did not receive{{ endif }} the prize.
</p>

<p>You stated a belief of {{ beliefs_partner_high_ability }} that the ball drawn for your partner from Urn 2 is white.
    We drew {{ if partner_privileged }}a white ball{{ else }}a black ball{{ endif }}.
    Your chance of receiving the prize was {{ chance_partner_high_ability }}.
    You {{ if player.outcome_beliefs_partner_privileged }}received{{ else }}did not receive{{ endif }} the prize.
</p>

    <p>For every prize you receive {{ Constants.beliefs_payoff }} and earn {{ player.payoff }}.</p>


{{ endif }}

</div>

    {{ next_button }}

{{ endblock }}
